* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,body{
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
}

.nav_list_wrap {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.nav_list_wrap .close {
    position: absolute;
    right: 3vw;
    top: 3vw;
    width: 6vw;
    height: 6vw;
    background: url('./assets_m/close.png') no-repeat;
    background-size: 100% 100%;
}

.nav_list_wrap li {
    color: #FFF;
    font-size: 3.5vw;
    height: 12vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFF;
    padding-left: 5vw;
}

.nav_list_wrap li a {
    color: #FFF;
}

.show_wrap {
    width: 100%;
    height: 145vw;
}

.show_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.show_main_list {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.show_main_list_item {
    width: 31.5vw;
    height: 48vw;
    border: 1px solid #e5e5e5;
    margin-bottom: 0.3rem;
    margin-left: 0.05rem;
}

.show_main_list_item .cover {
    width: 100%;
}


.show_main_list_item .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vw;
    text-align: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.show_main_title {
    position: relative;
    margin-top: 8vw;
    font-size: 7vw;
    font-weight: bold;


}

.show_main_title::after {
    position: absolute;
    top: 10vw;
    left: 50%;
    margin-left: -7vw;
    content: '';
    width: 14vw;
    height: 1vw;
    background: #c08f6d;
}

.show_main_desc {
    margin-top: 0.35rem;
    font-size: 4vw;
}

.slogen_wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.margin {
    margin-top: 10vw;
}

.slogen_wrap img {
    width: 100%;
}

.banner_wrap {
    width: 100vw;
    height: 134vw;
}

.top_wrap {
    position: relative;
    width: 100%;
    height: 1.2rem;
    background: #dfb5a7;
}

.top_wrap .logo {
    position: absolute;
    left: 0.25rem;
    top: 0.4rem;
    width: 2.63rem;
    height: 0.38rem;
}

.top_wrap .type {
    position: absolute;
    right: 0.25rem;
    top: 0.4rem;
    width: 0.51rem;
    height: 0.37rem;
}

.join_wrap {
    width: 100%;
    height: 25vw;
    background: #222;
}

.join_icon{
    width: 0.74rem;
}

.join_main {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_main .call_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_main .call_list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.join_main .call {
    font-size: 0.3rem;
    color: #FFF;
}

.join_main .note {
    width: 1.32rem;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.3rem;
    color: #FFF;
    display: flex;
    justify-content: space-around;
}