* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,body{
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
}

.wrap_common {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_w {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.join_wrap {
    width: 100%;
    height: 130px;
    background: #222;
}

.join_main {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_main .call_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.join_main .call_list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.join_main .call {
    font-size: 32px;
    color: #FFF;
}

.join_main .note {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 30px;
    color: #FFF;
}

.bottom_wrap {
    width: 100%;
    height: 800px;
    background: #000 url('./assets/bottom_note.png') no-repeat center center;
}

.detail_wrap {
    width: 100%;
    height: 1625px;
    background: #f6f6f6;
}

.detail_main {
    position: relative;
    height: 1625px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.detail_main_cover {
    margin-top: 40px;
    width: 1403px;
    height: 859px;
}

.detail_sub_cover {
    overflow: hidden;
    margin-top: 20px;
    width: 1403px;
    height: 300px;
    display: flex;
}

.detail_sub_cover img {
    height: 300px;
}

.advantage_wrap2 {
    width: 100%;
    height: 1010px;
    background: #fff;
}

.advantage_wrap {
    width: 100%;
    height: 1080px;
    background: #f6f6f6;
}

.advantage_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_wrap {
    width: 100%;
    height: 1700px;
}

.show_main {
    width: 1409px;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.show_main_list {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 68px;
}

.show_main_list_item {
    width: 415px;
    height: 595px;
    border: 1px solid #e5e5e5;
    margin-bottom: 58px;
}

.show_main_list_item .cover {
    width: 415px;
    height: 415px;
}

.show_main_list_item:hover .desc {
    background: #f9d0c2;
}

.show_main_list_item .desc {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.show_main_title {
    position: relative;
    margin-top: 135px;
    font-size: 54px;
    font-weight: bold;


}

.show_main_title::after {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -51px;
    content: '';
    width: 102px;
    height: 5px;
    background: #c08f6d;
}

.show_main_desc {
    margin-top: 25px;
    font-size: 36px;
}

.two_wrap {
    width: 100%;
    height: 600px;
    background: #f3f3f3;
}

.two_main {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.two_main_id {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two_main_cover {
    width: 937px;
    height: 600px;
}

.four_wrap {
    width: 100%;
    height: 351px;
}

.four_main {
    height: 351px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.four_main_ii {
    width: 480px;
    height: 351px;
    flex: 0 0 auto;
}

.four_main_id {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_wrap {
    width: 100%;
    height: 1078px;
}

.banner_main {
    display: block;
    width: 1920px;
    height: 1078px;
    margin-left: auto;
    margin-right: auto;
}


.top_wrap {
    width: 100%;
    height: 140px;
    background: #dfb5a7;
}

.top_main {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.top_logo {
    width: 332px;
    height: 47px;
}

.top_nav {
    display: flex;
    width: 800px;
    height: 140px;
    flex-direction: row;
}

.top_nav_item {
    width: 180px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.top_nav_item:hover {
    opacity: 0.8;
}

.top_nav_item_active {
    background: #c39484;
}
